.user__page{
    background-color: #12002b;
    flex: 1;
}

.user__header{
    margin-bottom: 2rem;
}

.user__text{
    color: white;
}

.user__button--edit{
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}